<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <h1>User</h1>

    <% if (user) { %>
        <h1>Update User</h1>
        <form id="updateUserForm" action="/users/update/<%= user.id %>" method="POST">
            <label for="firstName">First Name:</label><br>
            <input type="text" id="firstName" name="firstName" value="<%= user.firstName %>" required><br>
            <label for="lastName">Last Name:</label><br>
            <input type="text" id="lastName" name="lastName" value="<%= user.lastName %>" required><br>
            <button type="submit">Update User</button>
        </form>
        <% } %>
</body>

</html>